
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: repeat;
    background-image: url("../../assets/wood.webp");
    mix-blend-mode:color-burn;
    pointer-events: none;
    opacity: 1;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #251c13;
    padding: 30px 10%;
    height: 35px; 
}


.logo{
    cursor: pointer;
}

.navbar {
    list-style: none;
}

.navbar li{
    display: inline-block;
    padding: 0px 20px;
}

.navbar li a{
    transition: all 0.3 ease 0s;
    color: white;
}

.navbar li a:hover{
    color: red;
}

button{
    width: 10%;
    height: 40px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background-color: #4d4238;
    transition: all 0.3 ease 0s;
}

button:hover {
    background-color: #42382f;
}
