
html, body { height: 100%; }
body, html{
     margin: 0;
     font-family: Roboto, "Helvetica Neue", sans-serif; 
     background-color: #3a3443;
    }

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
